.container {
  border: 1px solid #dadde1;
}
input {
  margin: 50px 0;
}
.weekday {
  text-align: center;
  margin: 0 auto;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
h1 {
  font-weight: bolder;
  margin-top: 25px;
}
h2 {
  font-size: 15px;
}
h3 {
  font-size: 50px;
}
.tempUnit {
  font-size: 15px;
  vertical-align: 95%;
  text-decoration-line: none;
}
h4 {
  font-size: 16px;
}

footer {
  text-align: center;
  font-size: 10px;
  margin-top: 50px;
}
.emoji {
  font-size: 40px;
}
.darker {
  background-color: #edfbfc;
}
